<html>
    <head>
        <title></title>
    <wicket:head>
        <wicket:link>
            <link href="DCacheServices.css" rel="stylesheet" type="text/css"  />
        </wicket:link>
    </wicket:head>
</head>
<body>
<wicket:extend>
    <h1><span wicket:id="dCacheInstanceName"></span></h1>
    <center>
        <div id="pool_usage_chart"></div>
    </center>
    <div>
        <script src="js/d3.v3.min.js" charset="utf-8"></script>
        <script>

            var diameter = 900,
                    format = d3.format(",d"),
                    color = d3.scale.category20c();

            color = d3.scale.linear().domain([0, 10, 20, 30, 40, 50, 60, 70, 80, 90])
                    .range(["#98df8a", "#2ca02c", "#c5b0d5", "#9467bd", "#ffbb78", "#ff7f0e", "#ff9896", "#d62728"]);

            var red = "#d62728";
            var bubble = d3.layout.pack()
                    .sort(function(a, b) { return b.value - a.value; })
                    .size([diameter, diameter])
                    .padding(1.5);
            var svg = d3.select(document.getElementById('pool_usage_chart')).append("svg")
                    .attr("width", diameter)
                    .attr("height", diameter)
                    .attr("class", "bubble");

            d3.json("/api/PoolManager/cm.poolCostInfos", function(error, json) {

                var data = readPoolInfo(json);

                var node = svg.selectAll(".node")
                        .data(bubble.nodes({children: data}).filter(function(d) {
                    return !d.children;
                }))
                        .enter().append("g")
                        .attr("class", "node")
                        .attr("transform", function(d) {
                    return "translate(" + d.x + "," + d.y + ")";
                });
                node.append("title")
                        .text(function(d) {
                    return d.poolName + "\n" +
                            "Size   : " + bytes2Size(d.value) + "\n" +
                            "Cost   : " + d.cost.toFixed(2) + "\n" +
                            "Movers : " + d.a + "/" + d.q + "/" + d.m;
                });
                node.append("circle")
                        .attr("r", function(d) {
                    return d.r;
                })
                        .style("fill", function(d) {
                    return d.cost >= 1.0 ? red : color(d.cost * 100);
                });
                node.append("text")
                        .attr("dy", ".3em")
                        .style("text-anchor", "middle")
                        .text(function(d) {
                    return d.cost > 0.01 ? d.cost.toFixed(2) : '';
                });
            });

            d3.select(self.frameElement).style("height", diameter + "px");

            var bytes2Size = function(n) {
                bytes = n * Math.pow(1024, 3);
                var sizes = ['n/a', 'bytes', 'KiB', 'MiB', 'GiB', 'TiB', 'PiB', 'EiB', 'ZiB', 'YiB'];
                if (bytes == 0) {
                    return '0 bytes';
                }
                var i = +Math.floor(Math.log(bytes) / Math.log(1024));
                return  (bytes / Math.pow(1024, i)).toFixed(i ? 1 : 0) + ' ' + sizes[ isNaN(bytes) ? 0 : i + 1 ];
            };

            var readPoolInfo = function(json) {
                var poolCosts = [];

                for (var i = 0; i < json.length; i++) {
                    var poolInfo = json[i];
                    var moverActive = poolInfo.moverQueues.Movers.active;
                    var moverMax = poolInfo.moverQueues.Movers.maxActive;
                    var moverQueued = poolInfo.moverQueues.Movers.queued;
                    var poolCost = (moverActive + moverQueued) / moverMax;

                    poolCosts.push({
                        poolName: poolInfo.poolName,
                        cost: poolCost,
                        m: moverMax,
                        a: moverActive,
                        q: moverQueued,
                        value: poolInfo.spaceInfo.totalSpace / Math.pow(1024, 3)
                    });
                }
                return poolCosts;
            };

        </script>

    </div>
</wicket:extend>

</body>
</html>

